/*当屏幕宽度小于750px*/
/* @media screen and (max-width:750px){ */

	.model {
		position: relative;
		overflow: hidden;
	}
	
	.model>img.model-bg.wap {
		display: block;
		width: 100%;
	}
	
	.model>.model-content {
		width: 100%;
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	/*区块一*/
	.model1 {
		overflow: inherit !important;
	}

	.model1>.model-content {
		padding:0px 16px;
		padding-top:27px;
	}

	.model1 h2 {
		font-size: 20px;
		text-align: center;
		margin-bottom:14px;
		font-weight: 900;
	}

	.model1 h2>span {
		font-size: 16px;
		font-weight: initial;
		position: relative;
		top: -6px;
	}

	.model1 p {
		margin-top:14px;
		margin-bottom:25px;
		text-align: center;
		font-size: 9px;
		color: #626f8e;
	}

	.model1 .model-content{
		text-align: center;
	}

	.model1 ul>li{
		width:100%;
		text-align: center;
		font-size: 10px;
		color: #626f8e;
		font-weight: 500;
		margin-bottom: 14px;
	}

	/*区块二*/
	.model2 h2 {
		width: 100%;
		position: absolute;
		top:15px;
		font-size: 20px;
		text-align: center;
		color:#fff;
		font-weight: 900;
	}

	.model2 .swipermodel1 {
		position: absolute;
		top: 74%;
        transform: translateY(-74%);
		width: 100%;
		height:108px !important;
		overflow: visible !important;
	}

	.model2 .swipermodel1 .swiper-wrapper{
		padding-left: 15px;
	}

	.model2 .swipermodel1 .swiper-wrapper .swiper-slide{ 
		width: 290px; 
		display:flex;/*Flex布局*/
		display: -webkit-flex; /* Safari */
		align-items:center;/*指定垂直居中*/
		justify-content:center;	
		height:108px !important;
		border-radius: 10px;
		background-color:#fff;
		box-sizing: border-box;
		paddding-left:10px;
	}

	.model2 .swipermodel1 .swiper-wrapper .swiper-slide.swiper-slide-active{ 
		box-shadow:0 0 20px rgba(0, 0, 0, .5);
		-webkit-box-shadow:0 0 20px rgba(0, 0, 0, .5);  
22       -moz-box-shadow:0 0 20px rgba(0, 0, 0, .5);  
23       box-shadow:0 0 20px rgba(0, 0, 0, .5); 
	}

	.model2 .swipermodel1 .swiper-wrapper .swiper-slide .center{ 
		overflow: hidden;
	}

	.model2 .swipermodel1 .swiper-wrapper .swiper-slide p{ 
		float: left;
		font-size:10px;
		transform: scale(0.8);
		-webkit-transform: scale(0.8); 
		line-height:1;
		margin-bottom: 8px;
		width:48%;
		font-weight: 600;
	}

	.model2 .swipermodel1 .swiper-wrapper .swiper-slide p:nth-child(2n+1){ 
		margin-right:10px;
	}

	.model2 .swipermodel1 .swiper-wrapper .swiper-slide-prev,
	.model2 .swipermodel1 .swiper-wrapper .swiper-slide-next{ 
		background-color:rgba(255, 255, 255, 0.6);
		height:98px !important;
		margin-top:5px;
	}

	.model2 .swipermodel1 .swiper-button-next, 
	.model2 .swipermodel1 .swiper-button-prev {
		position: absolute;
		top: 100%;
		width: 16px;
		height: 6px;
		margin-top: 10px;
		background-size: 16px 6px;
	}

	.model2 .swipermodel1 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		background-image: url("./../images/web/left.png") !important;
    	left: 14% !important;
	}

	.model2 .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		background-image: url("./../images/web/right.png") !important;
    	left: 20% !important;
	}


	/*区块三*/

	.model3 .model-content{
		position: static !important;
	}

	.model3 h2 {
		margin-top:40px;
		margin-bottom: 35px;
		font-size: 20px;
		text-align: center;
		font-weight: 900;
	}

	.model3 .model3-title {
		display:none;
		position: absolute;
		left:10px;
		top:4px;
		font-size:10px;
		line-height:1.1;
		font-weight: 600;
		color:#595a7a;
	}

	.swipermodel2 {
		width: 100%;
		margin-top: 30px !important;
		overflow: visible !important;
	}

	.swipermodel2 .swiper-wrapper{
		padding-left:17px;
	}

	.swipermodel2 .swiper-wrapper .swiper-slide{ 
		min-width:auto !important;
		max-width:auto !important;
		width:auto !important;
	}

	.swipermodel2 .swiper-wrapper .swiper-slide:nth-last-child(1){ 
		margin-right:32px;
	}

	.swipermodel2 .swiper-wrapper .swiper-slide>label{ 
		font-size:10px;
		font-weight: 600;
	}

	.swipermodel2 .swiper-wrapper .swiper-slide>div.content{ 
		border-radius:8px 2px 28px 8px;
		padding:15px 14px;
		box-sizing: border-box;
		margin-top:20px;
		height:93px;
		font-size:9px;
		color:#626f8e;
		background-color:#d7ebfe;
		box-shadow:0 0 20px rgba(215, 235, 254, .9);
		-webkit-box-shadow:0 0 20px rgba(215, 235, 254, .9);  
22       -moz-box-shadow:0 0 20px rgba(215, 235, 254, .9);  
23       box-shadow:0 0 20px rgba(215, 235, 254, .9); 
	}

	.swipermodel2 .swiper-wrapper .swiper-slide>div.content>span{ 
		display: block;
		font-weight: 900;
		margin-bottom: 14px;
	}

	.swipermodel2 .swiper-wrapper .swiper-slide>div.content>p{ 
		margin-bottom: 6px;
	}

	/*区块四*/
	.model4 .model4-item{
		width:100%;
		overflow: hidden;
		margin-top:55px;
	}

	.model4 .model4-item img{
		margin-top:10px;
		width:100%;
	}

	.model4 .model4-item .model4-item-content{
		width:100%;
		box-sizing: border-box;
		text-align: center;
	}

	.model4 .model4-item label{
		font-size:20px;
		font-weight: 900;
		margin-bottom: 15px;
		display: block;
	}

	.model4 .model4-item p{
		font-size:10px;
		color:#626f8e;
		margin-bottom: 10px;
	}

	.model4 .model4-item p.blod{
		font-size:12px !important;
		margin-bottom: 15px;
		font-weight: 600;
	}

	/*区块五*/
	.model5 {
		margin-top:55px;
	}

	.model5>img.model-bg {
		width:100%;
		height:370px;
	}

	.model5 h2 {
		text-align: center;
		font-size: 20px;
		font-weight: 900;
		margin-bottom: 15px;
	}

	.model5 p.intro {
		text-align: center;
		font-size:10px;
		color:#626f8e;
		margin-bottom: 10px;
	}

	.model5 .GAIAlist{
		margin:0 auto;
		overflow: hidden;
		width:290px;
		margin-top:25px;
	}

	.model5 .GAIAlist li{
		width:135px;
		height:70px;
		background-color:#fff;
		border-radius:4px;
		display:flex;/*Flex布局*/
		display: -webkit-flex; /* Safari */
		align-items:center;/*指定垂直居中*/
		justify-content:center;
		float: left;
		color:#305fac;
		font-size:10px;
		font-weight: 600;
		margin-bottom: 15px;
		line-height:2;
	}

	.model5 .GAIAlist li:nth-child(1),
	.model5 .GAIAlist li:nth-child(3){
		margin-right:20px;
	}

	/*区块6*/

	.model6{
		background-color: #0c5bd9;
		border-radius:80px 0 0 0;	
		padding-top:32px;
		padding-left:45px;
		margin-top:-80px;
	}

	.contactus,
	.talent{
		overflow: hidden;
		margin-bottom:30px;
		float:left;
		color:#fff;
	}

	.contactus{
		margin-right:30px;
	}

	.contactus>label,
	.talent>label{
		display: block;
		font-size:10px;
		font-weight: 900;
		margin-bottom: 24px;
	}

	.contactus>p,
	.talent>p{
		font-size:9px;
		margin-bottom: 10px;
		line-height:1.5;
	}

	.model6 .GAIAimages{
		float: right;
		margin-right:18px;
	}

	.model6 .GAIAimages .GAIAicon{
		width:176px;
		height:30px;
		margin-bottom:10px;
		float: left;
		margin-right:17px;
	}

	.model6 .GAIAimages .GAIAcode{
		width:45px;
		height:45px;
		display: block;
		float: left;
		margin-top:-15px;		
	} 


	/*尾部*/

	.GAIAfooter{
		margin-top:-1px;
		width:100%;
		height:35px;
		line-height:35px;
		text-align: center;
		color:#fff;
		background-color:#246cdd;
		font-size:9px;
	}

/* } */