html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: PingFang;
	src: url('../font/PINGFANG-MEDIUM.TTF'),url('../font/PINGFANG-MEDIUM.woff');
}

body {
	font-size: 15px;
	line-height: 1;
	font-family: 'PingFang';
	color: #32325c;
	background-color:#fff;
}

fieldset,
img {
	border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

i {
	font-style: normal;
}

a {
	text-decoration: none;
	color: #666;
	background: none;
}

ul,
ol {
	list-style: none;
}

:focus {
	outline: none;
}

.clearfix:after,
.clearfix:before {
	content: "";
	/*加一段内容*/
	display: table;
	/*创建匿名的表格单元，触发bfc*/
}

.clearfix:after {
	clear: both;
	/*清除浮动*/
}

.clearfix {
	zoom: 1;
	/*为IE6，7的兼容性设置*/
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/*文本溢出*/
.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}